header{
    .navbar-default {
        background-color: transparent;
        border: none;

        .navbar-nav>li>a{
           color: $text-color-light;
       }
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
        color: $text-color-light;
        background: none;
    }

    .navbar-right{
        @include navbar-style;
    }
}
